[Desktop Entry]
Name=Dark Toggle

Comment=Toggle system light/dark mode

Type=Application
Exec=cosmic-ext-applet-dark-toggle
Terminal=false
Categories=Cosmic;Iced;
Keywords=Cosmic;Iced;
Icon=io.github.4rc0s.cosmic-ext-applet-dark-toggle-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
